.catalogo {
        --vh: 6.15px;
    --vw: 13.22px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    color: #4c190f;
    text-align: center;
    user-select: none;
    text-size-adjust: none;
    box-sizing: border-box;
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit inherit inherit inherit inherit inherit inherit inherit inherit inherit inherit inherit inherit inherit inherit inherit inherit;
    display: flex;
    flex-direction: row;
    height: fit-content;
}



.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.sidebar li:hover {
    color: #914F1E;
}

.divider {
    width: 1px;
    background-color: #914F1E;
    margin: 0 10px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta el número de columnas automáticamente */
    gap: 20px; /* Espaciado entre los productos */
    width: 100%; /* Ocupa todo el ancho disponible */
}

.product-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 14px;
    margin: 5px 0;
}