.linea-vertical {
    width: 2px; /* Ancho de la línea */
    height: 40px; /* Altura de la línea */
    background-color: #914F1E; /* Color de la línea */
    margin: 0 20px; /* Espaciado horizontal */
    display: inline-block; /* Asegura que se comporte como un elemento en línea */
}
.MiPerfil {
    position: relative; /* Permite posicionar elementos hijos en relación a este contenedor */
    cursor: pointer; /* Cambia el cursor al pasar sobre la sección */
    z-index: 10; /* Asegura que este div esté encima de otros elementos */
    background-color: #f5f5f5; /* Fondo claro */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.MiPerfil:hover {
    background-color: #e0e0e0; /* Cambia el fondo al pasar el mouse */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el mouse */
}

.MiPerfil .user-pic {
    font-size: 24px; /* Tamaño del ícono */
    color: #914F1E; /* Color del ícono */
    margin-right: 10px; /* Espaciado entre el ícono y el texto */
}
.user-pic{
    width: 40px;
    border-radius: 50%;
    

}
nav{
    background:white;
    width: 100%;
    padding:10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    width: 80px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}