.MiPerfil {
    position: relative; /* Permite posicionar elementos hijos en relación a este contenedor */
    cursor: pointer; /* Cambia  el cursor al pasar sobre la sección */
    z-index: 10; /* Asegura que este div esté encima de otros elementos */
    padding: 10px 10px; /* Espaciado interno */
    width: 300px; /* Ancho completo */
    display: flex; /* Alinea los elementos horizontalmente */
}
.MiPerfil a{
    color : #914F1E; /* Color del texto */
    margin-top: 4px; /* Espaciado entre el ícono y el texto */
    text-decoration: none
}
.MiPerfil i{
    margin-top: px;
}

.linea-vertical {
    width: 2px; /* Ancho de la línea */
    height: 40px; /* Altura de la línea */
    background-color: #914F1E; /* Color de la línea */
    margin: 0 20px; /* Espaciado horizontal */
    display: inline-block; /* Asegura que se comporte como un elemento en línea */
}

.cart-icon {
    margin: 10px; /* Mueve el ícono más a la izquierda */
    margin-right: 20px; /* Espaciado entre el ícono y el texto */
    color: #914F1E; /* Color del ícono */
    cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
    transition: transform 0.3s ease, color 0.3s ease; /* Animación para hover */
}

.cart-icon.active {
    color: #914F1E;
    font-weight: bold;
    border-bottom: 2px solid #914F1E;
    font-size: 28px;
    /* Puedes agregar sombra o animación si quieres */
    /* box-shadow: 0 2px 8px #914F1E33; */
}

.MiPerfil .user-pic {
    color: #914F1E; /* Color del ícono */
    margin-right: 5px; /* Espaciado entre el ícono y el texto */
}

h1{
    color: #914F1E; /* Color del texto */
    font-size: 24px; /* Tamaño de la fuente */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
    width: 100%; /* Ancho completo */
}
nav{
    background:white;
    padding:px px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color : #914F1E; /* Color del texto */
    text-decoration: none;
}

ul li a.active {
    color: #914F1E; /* Cambia el color del enlace activo */
    font-weight: bold; /* Resalta el enlace activo */
    border-bottom: 2px solid #914F1E; /* Agrega una línea debajo del enlace activo */
}

.logo{
    width: 80px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}


.arrow-right{
    color: #914F1E; /* Color del ícono */
    font-size: 20px; /* Tamaño del ícono */
    transition: transform 0.3s ease; /* Animación para hover */
    margin-left: 10px;
}

.arrow-right.active {
    transition: transform 0.3s ease; /* Animación suave */
    transform: rotate(90deg); /* Rota el ícono 90 grados */
}