.pedido {
    border: 1px solid #914F1E; /* Borde café */
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px; /* Espaciado entre pedidos */
    background-color: #f9f9f9; /* Fondo claro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

.pedido p {
    margin: 5px 0; /* Espaciado entre líneas */
    color: #333; /* Color del texto */
    font-size: 16px;
}