/* Estilos personalizados para EditUserModal extraídos de los estilos inline */
.edit-user-modal-btn-show {
  margin-bottom: 10px;
}
.edit-user-modal-btn-cancel {
  margin-left: 10px;
}
.edit-user-modal-btns {
  margin-top: 1rem;
}
