body {
    background-color: #A0522D; /* Color café */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* Fuente opcional */
  }  
i{
  font-size: 24px; /* Tamaño del ícono */
  color: #914F1E; /* Color del ícono */
}